@model StudentRegistration.Models.StudentDTO

@{
    ViewData["Title"] = "Details";
    //var Imagepath = @Url.Content("~/Images/"+(Model.ImagePath));
}

<h1>Details</h1>

<div class="card-body text-center">
    <img src="@Url.Content("~/Images/"+(Model.ImagePath ?? "Noimage.png"))" alt="Image" width="300" height="300" />
</div>
<div>
    <h4>Student</h4>
    <hr />
    <dl class="row">

        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudentName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudentName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateOfBirth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SelectedCourse)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SelectedCourse)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SecuredGrade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SecuredGrade)
        </dd>
    </dl>
</div>
<div>

    <a asp-action="Edit" asp-route-id="@Model?.AdmissionNo">Edit</a> |
    <a asp-action="DownloadPDf" asp-route-id="@Model?.AdmissionNo">Download Pdf</a> |

    <a asp-action="Index">Back to List</a>
    
</div>
